In [1]:
 
# Import the course packages
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import missingno as msno
import fuzzywuzzy
import recordlinkage 

# Import the course datasets
ride_sharing = pd.read_csv('../datasets/ride_sharing_new.csv', index_col = 'Unnamed: 0')
airlines = pd.read_csv('../datasets/airlines_final.csv',  index_col = 'Unnamed: 0')
banking = pd.read_csv('../datasets/banking_dirty.csv', index_col = 'Unnamed: 0')
restaurants = pd.read_csv('../datasets/restaurants_L2.csv', index_col = 'Unnamed: 0')
restaurants_new = pd.read_csv('../datasets/restaurants_L2_dirty.csv', index_col = 'Unnamed: 0')

In [12]:
sd = pd.read_csv("study.csv")
study_data = pd.read_csv("study.csv")
categories =pd.read_csv("categories.csv")
sd.head()

        name      birthday blood_type
0      Beth    2019-10-20          B-
1  Ignatius    2020-07-08          A-
2      Paul    2019-08-12          O+
3     Helen    2019-02-17          O-
4  Jennifer     209-12-17          Z+

In [10]:
categories.head()

  blood_type
0         O-
1         O+
2         A-
3         A+
4         B+

In [6]:
inconsistent_categories = set(sd['blood_type']).difference(categories['blood_type'])
print(inconsistent_categories)

{' Z+', ' B-', ' O+', ' A-', ' O-', ' A+'}

In [9]:
inconsistent_rows = sd['blood_type'].isin(inconsistent_categories)
sd[inconsistent_rows]

        name      birthday blood_type
0      Beth    2019-10-20          B-
1  Ignatius    2020-07-08          A-
2      Paul    2019-08-12          O+
3     Helen    2019-02-17          O-
4  Jennifer     209-12-17          Z+
5   Kennedy    2020-04-27          A+

In [13]:
inconsistent_categories = set(study_data['blood_type']).difference(categories['blood_type'])
inconsistent_rows = study_data['blood_type'].isin(inconsistent_categories)
inconsistent_data = study_data[inconsistent_rows]
# Drop inconsistent categories and get consistent data only
consistent_data = study_data[~inconsistent_rows]

## Finding consistency

In [16]:
# Print categories DataFrame
#print(categories)

# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

Cleanliness:  ['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

In [17]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

KeyError: 'cleanliness'