# Relative error of point estimates

In [2]:
# Importing pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np

attrition = pd.read_feather("../datasets/attrition.feather")
spotify = pd.read_feather("../datasets/spotify_2000_2020.feather")
coffee_ratings = pd.read_feather("../datasets/coffee_ratings_full.feather")

In [3]:
len(coffee_ratings.sample(n=300))

300

In [4]:
len(coffee_ratings.sample(frac=0.25))

334

In [5]:
len(coffee_ratings.sample(frac=0.5))

669

In [9]:
###############
x=[i for i in range(100)]
t =pd.DataFrame({})

In [10]:
t['x']=x

In [13]:
t.sample(20)

     x
41  41
66  66
8    8
29  29
32  32
50  50
11  11
26  26
5    5
52  52
71  71
9    9
48  48
17  17
94  94
85  85
65  65
25  25
33  33
99  99

In [17]:
t.sample(frac=0.01)

   x
8  8

In [18]:
t.sample(frac=0.10)

     x
17  17
46  46
32  32
21  21
92  92
83  83
8    8
36  36
37  37
67  67

In [19]:
t.sample(frac=0.20)

     x
77  77
62  62
94  94
82  82
27  27
89  89
44  44
54  54
56  56
74  74
9    9
20  20
39  39
67  67
90  90
46  46
4    4
17  17
18  18
55  55

In [23]:
q1 =filter(lambda i: i%5 ==0 ,t['x'])
list(q1)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [28]:
q2= filter(lambda i:i>50 and i%2 ==0 , t.x)
list(q2)

[52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [29]:
##############

In [34]:
coffee_ratings['total_cup_points'].mean()

82.15120328849018

In [35]:
coffee_ratings.sample(10)['total_cup_points'].mean()

82.591

In [36]:
coffee_ratings.sample(100)['total_cup_points'].mean()

82.1743

In [48]:
coffee_ratings.sample(1000)['total_cup_points']

391     83.42
195     84.25
63      85.58
167     84.50
1129    80.00
        ...
587     82.75
1052    80.67
368     83.50
221     84.17
791     82.08
Name: total_cup_points, Length: 1000, dtype: float64

In [49]:
sample_size =coffee_ratings.sample(1000)['total_cup_points'].mean()

In [56]:
population_mean = coffee_ratings.sample(1000)['total_cup_points']

In [57]:
sample_mean = coffee_ratings.sample(n=sample_size)['total_cup_points'].mean()

ValueError: Only integers accepted as `n` values

In [58]:
rel_error_pct = 100 * abs(population_mean-sample_mean) / population_mean

NameError: name 'sample_mean' is not defined

## Calculating relative errors

In [59]:
# Generate a simple random sample of 50 rows, with seed 2022
attrition_srs50 = attrition_pop.sample(n=50, random_state=2022)

# Calculate the mean employee attrition in the sample
mean_attrition_srs50 = attrition_srs50['Attrition'].mean()

# Calculate the relative error percentage
rel_error_pct50 = 100 * abs(mean_attrition_pop - mean_attrition_srs50) / mean_attrition_pop

# Print rel_error_pct50
print(rel_error_pct50)

NameError: name 'attrition_pop' is not defined

In [60]:
# Generate a simple random sample of 100 rows, with seed 2022
attrition_srs100 = attrition_pop.sample(n=100, random_state=2022)

# Calculate the mean employee attrition in the sample
mean_attrition_srs100 = attrition_srs100['Attrition'].mean()

# Calculate the relative error percentage
rel_error_pct100 = 100 * abs(mean_attrition_pop - mean_attrition_srs100) / mean_attrition_pop

# Print rel_error_pct100
print(rel_error_pct100)

NameError: name 'attrition_pop' is not defined