In [1]:
from datetime import date

In [2]:
# Example date
d = date(2017, 11, 5)
# ISO format: YYYY-MM-DD
print(d)

2017-11-05

In [3]:
print( [d.isoformat()] )

['2017-11-05']

In [5]:
# A few dates that computers once had trouble with
some_dates = ['2000-01-01','1999-12-31']
# Print them in order
print(sorted(some_dates))

['1999-12-31', '2000-01-01']

In [7]:
d=date(2017,1,5)
print(d.strftime("%Y"))

2017

In [8]:
print(d.strftime("Year is : %Y"))

Year is : 2017

In [9]:
print(d.strftime("%Y/%m/%d"))

2017/01/05

## Printing dates in a friendly format

In [ ]:
# Assign the earliest date to first_date
first_date = min(florida_hurricane_dates)

# Convert to ISO and US formats
iso = "Our earliest hurricane date: " + first_date.isoformat()
us = "Our earliest hurricane date: " + first_date.strftime("%m/%d/%Y")

print("ISO: " + iso)
print("US: " + us)

## Representing dates in different ways

In [10]:
# Import date
from datetime import date

# Create a date object
andrew = date(1992, 8, 26)

# Print the date in the format 'YYYY-MM'
print(andrew.strftime('%Y-%m'))

1992-08

In [11]:
# Import date
from datetime import date

# Create a date object
andrew = date(1992, 8, 26)

# Print the date in the format 'MONTH (YYYY)'
print(andrew.strftime('%B (%Y)'))

August (1992)