In [4]:
# Importing pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
from itertools import product
import itertools
attrition = pd.read_feather("../datasets/attrition.feather")
spotify = pd.read_feather("../datasets/spotify_2000_2020.feather")
coffee_ratings = pd.read_feather("../datasets/coffee_ratings_full.feather")

In [5]:
coffee_focus = coffee_ratings[["variety","country_of_origin","flavor"]]
coffee_focus = coffee_focus.reset_index()

In [6]:
coffee_focus

      index  variety country_of_origin  flavor
0         0     None          Ethiopia    8.83
1         1    Other          Ethiopia    8.67
2         2  Bourbon         Guatemala    8.50
3         3     None          Ethiopia    8.58
4         4    Other          Ethiopia    8.50
...     ...      ...               ...     ...
1333   1333     None           Ecuador    7.58
1334   1334     None           Ecuador    7.67
1335   1335     None     United States    7.33
1336   1336     None             India    6.83
1337   1337     None           Vietnam    6.67

[1338 rows x 4 columns]

In [7]:
coffee_resamp = coffee_focus.sample(frac=1, replace=True)
coffee_resamp

      index        variety             country_of_origin  flavor
379     379           None                        Taiwan    7.67
694     694         Typica                        Mexico    7.58
1002   1002        Caturra                      Colombia    7.50
101     101           SL34                         Kenya    7.83
1187   1187         Catuai                     Guatemala    7.17
...     ...            ...                           ...     ...
879     879          Other  Tanzania, United Republic Of    7.33
275     275        Caturra                      Colombia    7.67
237     237  Hawaiian Kona        United States (Hawaii)    7.75
1153   1153        Bourbon                        Mexico    7.17
846     846          Gesha                        Malawi    7.42

[1338 rows x 4 columns]

In [8]:
coffee_resamp['index'].value_counts()

577     5
260     5
692     5
398     5
690     4
       ..
251     1
1152    1
701     1
896     1
275     1
Name: index, Length: 846, dtype: int64

In [9]:
num_unique_coffees = len(coffee_resamp.drop_duplicates(subset="index"))

In [11]:
num_unique_coffees

846

In [12]:
len(coffee_ratings) - num_unique_coffees

492

## Generating a bootstrap distribution

In [15]:
# Generate 1 bootstrap resample
spotify_1_resample = spotify.sample(frac=1, replace=True)

# Print the resample
print(spotify_1_resample)

       acousticness                                     artists  danceability  \
33937      0.174000                               ['Joe Walsh']         0.468
16673      0.522000      ['Fred Hammond', 'Radical For Christ']         0.499
34776      0.475000  ['Edwin Luna y La Trakalosa de Monterrey']         0.664
18332      0.930000                                   ['Ollie']         0.688
27086      0.983000                           ['Thomas Newman']         0.304
...             ...                                         ...           ...
21709      0.771000                              ['John Mayer']         0.315
34398      0.000939                         ['My Darkest Days']         0.577
22100      0.115000                                  ['Grimes']         0.697
27349      0.202000                           ['Blackalicious']         0.845
18586      0.590000                           ['Mereba', 'JID']         0.637

       duration_ms  duration_minutes  energy  explicit  \
33937     235427.0          3.923783  0.6770       0.0
16673     378187.0          6.303117  0.6850       0.0
34776     216227.0          3.603783  0.6230       0.0
18332     277264.0          4.621067  0.5360       1.0
27086     246627.0          4.110450  0.0116       0.0
...            ...               ...     ...       ...
21709     263573.0          4.392883  0.2960       0.0
34398     176400.0          2.940000  0.9250       0.0
22100     251267.0          4.187783  0.5290       0.0
27349     206400.0          3.440000  0.5170       0.0
18586     179027.0          2.983783  0.5120       1.0

                           id  instrumentalness  key  liveness  loudness  \
33937  3G863Tbi9fj5IshOoql1aO          0.006210  9.0    0.4230    -9.651
16673  6j8k5yjxYXg5zxDOPoii5K          0.000000  5.0    0.5640    -4.499
34776  5lqBhTIPK6sJ57mm7YfaKt          0.000000  7.0    0.0714    -3.342
18332  0ZGz6jp69iUK49VSloTfmC          0.000021  1.0    0.1200   -15.598
27086  33B1XmfncHqnfkrYZIcHbD          0.963000  7.0    0.1040   -33.190
...                       ...               ...  ...       ...       ...
21709  4LloVtxNZpeh7q7xdi1DQc          0.000000  5.0    0.7020   -13.262
34398  2cLvZokGgikrGmY6XIzztS          0.000000  2.0    0.2160    -3.099
22100  4P6n0udLAnmCNXVcobYbsK          0.901000  2.0    0.0895    -8.838
27349  4TlYG3mKosVWfGbb9VfDh3          0.002370  1.0    0.1340    -9.350
18586  1NlWBpNYAnFT7gMGyC0Y1M          0.000464  2.0    0.0712   -10.027

       mode                                               name  popularity  \
33937   1.0       In The City - From "The Warriors" Soundtrack        50.0
16673   1.0                                    When You Praise        33.0
34776   0.0                                      Broche de Oro        65.0
18332   1.0                                        Fading Away        55.0
27086   0.0                                     Any Other Name        59.0
...     ...                                                ...         ...
21709   1.0  Free Fallin' - Live at the Nokia Theatre, Los ...        74.0
34398   0.0                                          Every Lie        53.0
22100   1.0                                           Oblivion        67.0
27349   1.0                             Make You Feel That Way        52.0
18586   1.0                              Sandstorm (feat. JID)        62.0

      release_date  speechiness    tempo  valence    year
33937   2005-01-01       0.0331   80.846   0.7040  2005.0
16673   2000-04-18       0.0613  112.854   0.4220  2000.0
34776   2014-08-05       0.0333  129.915   0.4670  2014.0
18332   2016-01-31       0.2320   95.087   0.3630  2016.0
27086   2000-01-11       0.0337   77.840   0.0364  2000.0
...            ...          ...      ...      ...     ...
21709         2008       0.0317  172.638   0.4360  2008.0
34398   2010-01-01       0.0430  112.044   0.6210  2010.0
22100   2012-02-21       0.0338  155.974   0.4860  2012.0
27349   2002-01-01       0.3100  117.939   0.6410  2002.0
18586   2019-02-27       0.0978  109.492   0.3300  2019.0

[41656 rows x 20 columns]

In [ ]:
# Generate 1 bootstrap resample
spotify_1_resample = spotify_sample.sample(frac=1, replace=True)

# Calculate of the danceability column of spotify_1_resample
mean_danceability_1 = np.mean(spotify_1_resample['danceability'])

# Print the result
print(mean_danceability_1)

In [16]:
# Replicate this 1000 times
mean_danceability_1000 = []
for i in range(1000):
	mean_danceability_1000.append(
        np.mean(spotify_sample.sample(frac=1, replace=True)['danceability'])
	)
  
# Print the result
print(mean_danceability_1000)

NameError: name 'spotify_sample' is not defined