In [1]:
 
# Import the course packages
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import missingno as msno
import fuzzywuzzy
import recordlinkage 

# Import the course datasets
ride_sharing = pd.read_csv('../datasets/ride_sharing_new.csv', index_col = 'Unnamed: 0')
airlines = pd.read_csv('../datasets/airlines_final.csv',  index_col = 'Unnamed: 0')
banking = pd.read_csv('../datasets/banking_dirty.csv', index_col = 'Unnamed: 0')
restaurants = pd.read_csv('../datasets/restaurants_L2.csv', index_col = 'Unnamed: 0')
restaurants_new = pd.read_csv('../datasets/restaurants_L2_dirty.csv', index_col = 'Unnamed: 0')

In [23]:
ride_sharing.head()

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male

In [24]:
dup=ride_sharing.duplicated()

In [25]:
dup.value_counts()

False    25756
True         4
dtype: int64

In [27]:
ride_sharing[dup]

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
604,9 minutes,81,Berry St at 4th St,81,Berry St at 4th St,1225,2,1993,Male
15217,17 minutes,22,Howard St at Beale St,102,Irwin St at 8th St,492,3,1961,Female
18303,10 minutes,30,San Francisco Caltrain (Townsend St at 4th St),6,The Embarcadero at Sansome St,4442,1,1967,Male
20170,4 minutes,21,Montgomery St BART Station (Market St at 2nd St),343,Bryant St at 2nd St,5034,2,1993,Male

In [28]:
column_names = ['user_type']
duplicates = ride_sharing.duplicated(subset = column_names, keep = False)

In [29]:
duplicates

0        True
1        True
2        True
3        True
4        True
         ...
25755    True
25756    True
25757    True
25758    True
25759    True
Length: 25760, dtype: bool

## Finding duplicates

In [30]:
# Find duplicates
duplicates = ride_sharing.duplicated("ride_id", keep = False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id','duration','user_birth_year']])

KeyError: Index(['ride_id'], dtype='object')

## Treating duplicates