# Visualizing hierarchies

In [9]:
# Import the course packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import scipy.stats 

from sklearn.cluster import KMeans
from sklearn import datasets
import matplotlib.pyplot as plt

from scipy.cluster.hierarchy import linkage ,dendrogram

In [10]:
# Import the course datasets 

#grains = pd.read_csv('../datasets/grains.csv')
grains = pd.read_csv('../datasets/Grains/seeds.csv')
fish = pd.read_csv('../datasets/fish.csv', header=None)
wine = pd.read_csv('../datasets/wine.csv')
eurovision = pd.read_csv('../datasets/Eurovision2016.csv')
stocks = pd.read_csv('../datasets/Company_stock_price_movements.csv', index_col=0)
digits = pd.read_csv('../datasets/lsc.csv', header=None)

In [11]:
eurovision.head()

,From country,To country,Jury A,Jury B,Jury C,Jury D,Jury E,Jury Rank,Televote Rank,Jury Points,Televote Points
0,Albania,Belgium,20,16,24,22,24,25,14,NaN,NaN
1,Albania,Czech Republic,21,15,25,23,16,22,22,NaN,NaN
2,Albania,The Netherlands,22,14,23,24,21,24,24,NaN,NaN
3,Albania,Azerbaijan,19,12,11,21,11,13,19,NaN,NaN
4,Albania,Hungary,8,13,9,14,9,10,10,1.0,1.0

In [20]:
eurovision['To country'].unique()

array(['Belgium', 'Czech Republic', 'The Netherlands', 'Azerbaijan',
       'Hungary', 'Italy', 'Israel', 'Bulgaria', 'Sweden', 'Germany',
       'France', 'Poland', 'Australia', 'Cyprus', 'Serbia', 'Lithuania',
       'Croatia', 'Russia', 'Spain', 'Latvia', 'Ukraine', 'Malta',
       'Georgia', 'Austria', 'United Kingdom', 'Armenia'], dtype=object)

In [21]:
eurovision['From country'].unique()

array(['Albania', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Belarus', 'Belgium', 'Bosnia & Herzegovina', 'Bulgaria',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'F.Y.R. Macedonia', 'Finland', 'France', 'Georgia', 'Germany',
       'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy',
       'Latvia', 'Lithuania', 'Malta', 'Moldova', 'Montenegro', 'Norway',
       'Poland', 'Russia', 'San Marino', 'Serbia', 'Slovenia', 'Spain',
       'Sweden', 'Switzerland', 'The Netherlands', 'Ukraine',
       'United Kingdom'], dtype=object)

In [13]:
samples = eurovision

In [ ]:
mergings = linkage(samples , method='complete')
dendrogram(mergings,labels=country_names,leaf_rotation=90,leaf_font_size=6)
plt.show()