In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [8]:
engine = create_engine('sqlite:///Chinook2.sqlite')
#                                 Chinook2.sqlite
con = engine.connect()

In [14]:
rs = con.execute("SELECT * FROM Employee")
df = pd.DataFrame(rs.fetchall())
con.close()

ResourceClosedError: This Connection is closed

In [15]:
#print(df.head())
df.head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [17]:
engine = create_engine('sqlite:///Chinook2.sqlite')

con = engine.connect()
rs = con.execute("SELECT * FROM Employee")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()

In [19]:
df.columns

Index(['EmployeeId', 'LastName', 'FirstName', 'Title', 'ReportsTo',
       'BirthDate', 'HireDate', 'Address', 'City', 'State', 'Country',
       'PostalCode', 'Phone', 'Fax', 'Email'],
      dtype='object')

In [21]:
import pandas as pd

In [22]:
engine = create_engine('sqlite:///Chinook2.sqlite')

In [24]:
with engine.connect() as con:
    rs = con.execute("SELECT EmployeeId, LastName, City FROM Employee")
    df = pd.DataFrame(rs.fetchmany(size=5))
    df.columns = rs.keys()

In [25]:
df.head()

   EmployeeId LastName      City
0           1    Adams  Edmonton
1           2  Edwards   Calgary
2           3  Peacock   Calgary
3           4     Park   Calgary
4           5  Johnson   Calgary