In [21]:
# Importing pandas
import pandas as pd
import numpy as np
attrition = pd.read_feather("../datasets/attrition.feather")
spotify = pd.read_feather("../datasets/spotify_2000_2020.feather")
coffee = pd.read_feather("../datasets/coffee_ratings_full.feather")
coffee.head()

,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,...,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,None,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0.0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,None,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1.0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",None,None,None,None,1600 - 1800 m,...,None,0.0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,None,wolensu,None,yidnekachew debessa coffee plantation,1800-2200,...,Green,2.0,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,None,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2.0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [14]:
pts_vs_flavor_pop  =coffee[['total_cup_points', 'flavor']]

In [15]:
pts_vs_flavor_pop

      total_cup_points  flavor
0                90.58    8.83
1                89.92    8.67
2                89.75    8.50
3                89.00    8.58
4                88.83    8.50
...                ...     ...
1333             78.75    7.58
1334             78.08    7.67
1335             77.17    7.33
1336             75.08    6.83
1337             73.75    6.67

[1338 rows x 2 columns]

In [18]:
pts_vs_flavor_samp =pts_vs_flavor_pop.sample(10)
pts_vs_flavor_samp

      total_cup_points  flavor
923              81.50    7.33
1232             78.25    7.33
35               86.25    8.00
380              83.42    7.75
1158             79.67    7.08
1253             77.33    7.33
53               85.92    8.17
1132             79.92    7.08
1285             74.67    7.00
946              81.42    7.42

In [30]:
cup_point_samp =  coffee['total_cup_points'].sample(10)
cup_point_samp

148     84.58
939     81.42
22      87.17
210     84.17
1242    78.00
944     81.42
583     82.75
285     83.83
525     83.00
711     82.33
Name: total_cup_points, dtype: float64

In [31]:
##mean

In [32]:
np.mean(pts_vs_flavor_pop['total_cup_points'])

82.15120328849018

In [33]:
np.mean(cup_point_samp)

82.867

In [34]:
pts_vs_flavor_pop['flavor'].mean()

7.526046337817636

In [35]:
pts_vs_flavor_samp['flavor'].mean()

7.449

## Simple sampling with pandas

In [36]:
# Sample 1000 rows from spotify_population
spotify_sample = spotify_population.sample(1000)

# Print the sample
print(spotify_sample)

NameError: name 'spotify_population' is not defined

In [ ]:
# Sample 1000 rows from spotify_population
spotify_sample = spotify_population.sample(n=1000)

# Print the sample
print(spotify_sample)

# Calculate the mean duration in mins from spotify_population
mean_dur_pop = spotify_population["duration_minutes"].mean()

# Calculate the mean duration in mins from spotify_sample
mean_dur_samp = spotify_sample["duration_minutes"].mean()

# Print the means
print(mean_dur_pop)
print(mean_dur_samp)

## Simple sampling and calculating with NumPy

In [ ]:
# Subset the loudness column of spotify_population
loudness_pop = spotify_population.loudness

# Sample 100 values of loudness_pop
loudness_samp = loudness_pop.sample(100)

# Print the sample
print(loudness_samp)

In [ ]:
# Create a pandas Series from the loudness column of spotify_population
loudness_pop = spotify_population['loudness']

# Sample 100 values of loudness_pop
loudness_samp = loudness_pop.sample(n=100)

# Calculate the mean of loudness_pop
mean_loudness_pop = loudness_pop.mean()

# Calculate the mean of loudness_samp
mean_loudness_samp = loudness_samp.mean()

# Print the means
print(mean_loudness_pop)
print(mean_loudness_samp)