In [8]:
import pandas as pd

In [17]:
ward_file='https://assets.datacamp.com/production/repositories/5486/datasets/87c16fd85c435ea10221932ebab27ffb6b232c74/ward.p'
census_file='https://assets.datacamp.com/production/repositories/5486/datasets/c778c41d8b2f0d4cc6c842e95e0c650c7156c82c/census.p'

In [18]:
ward=pd.read_pickle(ward_file)
ward.head()

  ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649

In [19]:
print(wards.shape)

(50, 22)

In [21]:
census=pd.read_pickle(census_file)
census.head()

,ward,pop_2000,pop_2010,change,address,zip
0,1,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,2,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,3,40385,53039,31%,17 EAST 38TH STREET,60653
3,4,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,5,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637

In [22]:
ward.to_csv("Ward_Offices.csv")

In [23]:
census.to_csv("Ward_Census.csv")

In [24]:
wards = pd.read_csv('Ward_Offices.csv')
wards.head()

,Unnamed: 0,ward,alderman,address,zip
0,0,1,"Proco ""Joe"" Moreno",2058 NORTH WESTERN AVENUE,60647
1,1,2,Brian Hopkins,1400 NORTH ASHLAND AVENUE,60622
2,2,3,Pat Dowell,5046 SOUTH STATE STREET,60609
3,3,4,William D. Burns,"435 EAST 35TH STREET, 1ST FLOOR",60616
4,4,5,Leslie A. Hairston,2325 EAST 71ST STREET,60649

In [25]:
wards.shape

(50, 5)

In [26]:
wards = pd.read_csv('Ward_Census.csv')
wards.head()

,Unnamed: 0,ward,pop_2000,pop_2010,change,address,zip
0,0,1,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,1,2,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,2,3,40385,53039,31%,17 EAST 38TH STREET,60653
3,3,4,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653
4,4,5,55302,51455,-7%,JACKSON PARK LAGOON SOUTH CORNELL DRIVE,60637

In [27]:
wards_census = wards.merge(census, on='ward')

print(wards_census.head(4))

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [28]:
wards['ward'].dtype

dtype('int64')

In [29]:
census['ward'].dtype

dtype('O')

In [31]:
census['ward'] = census['ward'].astype(int)

In [32]:
census['ward'].dtype

dtype('int32')

In [34]:
wards_census = wards.merge(census, on='ward')

wards_census.head(4)

,Unnamed: 0,ward,pop_2000_x,pop_2010_x,change_x,address_x,zip_x,pop_2000_y,pop_2010_y,change_y,address_y,zip_y
0,0,1,52951,56149,6%,2765 WEST SAINT MARY STREET,60647,52951,56149,6%,2765 WEST SAINT MARY STREET,60647
1,1,2,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622,54361,55805,3%,WM WASTE MANAGEMENT 1500,60622
2,2,3,40385,53039,31%,17 EAST 38TH STREET,60653,40385,53039,31%,17 EAST 38TH STREET,60653
3,3,4,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653,51953,54589,5%,31ST ST HARBOR BUILDING LAKEFRONT TRAIL,60653

In [35]:
wards_census.columns

Index(['Unnamed: 0', 'ward', 'pop_2000_x', 'pop_2010_x', 'change_x',
       'address_x', 'zip_x', 'pop_2000_y', 'pop_2010_y', 'change_y',
       'address_y', 'zip_y'],
      dtype='object')