In [1]:
import numpy as np

## Quantiles

In [4]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('score.csv')
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [12]:
df.mean()

Hours      5.012
Scores    51.480
dtype: float64

In [7]:
np.quantile(df['Scores'], [0, 0.25, 0.5, 0.75, 1])

array([17., 30., 47., 75., 95.])

In [8]:
np.quantile(df['Scores'], [0.5])

array([47.])

In [9]:
np.quantile(df['Scores'], [0.25])

array([30.])

In [10]:
np.quantile(df['Scores'], [0.75])

array([75.])

In [13]:
np.quantile(df['Scores'], np.linspace(0, 1, 5))

array([17., 30., 47., 75., 95.])

In [15]:
IQR = np.quantile(df['Scores'], 0.75) - np.quantile(df['Scores'], 0.25)
IQR

45.0

In [16]:
from scipy.stats import iqr

IQR = iqr(df['Scores'])
print(IQR)

45.0

In [17]:
# first get iqr
iqr= iqr(df['Scores'])
# then get lower & upper threshold
lower_threshold = np.quantile(df['Scores'], 0.25)
upper_threshold = np.quantile(df['Scores'], 0.75)
# then find outliers 
outliers = df[(df['Scores'] < lower_threshold) | (df['Scores'] > upper_threshold)]
print(outliers)

    Hours  Scores
0     2.5      21
2     3.2      27
5     1.5      20
6     9.2      88
8     8.3      81
9     2.7      25
10    7.7      85
14    1.1      17
15    8.9      95
17    1.9      24
23    6.9      76
24    7.8      86

In [18]:
print(np.var(df['Scores'], ddof=1))

639.4266666666666

In [19]:
print(np.var(df['Scores']))

613.8496

In [20]:
print(np.std(df['Scores'], ddof=1))

25.28688724747802

# Mean Absolute Deviation

In [21]:
# first find the distance between the data points and the mean
dists = df['Scores'] - np.mean(df['Scores'])
# find the mean absolute 
print(np.mean(np.abs(dists)))

22.4192

In [22]:
df['Scores'].describe()

count    25.000000
mean     51.480000
std      25.286887
min      17.000000
25%      30.000000
50%      47.000000
75%      75.000000
max      95.000000
Name: Scores, dtype: float64